
/* -- Media Query -- */
@media (min-width: 0px) {
    /* celular p */
    footer img, .ft2 i {
        margin: .5rem;
        font-size: 2rem;
    }
}

@media (min-width: 576px) {
    /* celular m */
    footer img, .ft2 i {
        margin: .5rem;
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    /* tablet */
    footer img, .ft2 i {
        font-size: 2rem;
        margin: -3rem;
    }
}

@media (min-width: 992px) {
    /* laptop */
    footer img, .ft2 i {
        font-size: 2rem;
        margin: -3rem;
    }
}

@media (min-width: 1200px) {
    /* desktop */
    footer img, .ft2 i {
        font-size: 2rem;
        margin: -3rem;
    }
}
