
header {
    background-color: #062479;
    text-align: center;
    box-shadow: 1px 1px 2px #00000083;
}

form {
    margin-top: 30px;
    text-align: center;
}

form input {
    margin-bottom: 10px;
}

form input[type="submit"] {
    margin-top: 10px;
}

form img {
    width: 200px;
    margin-bottom: 40px;
}

.card {
    margin-top: 40px;
    padding: 5px;
}

.textos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-weight: bold;
}

.card a {
    margin-top: 5px;
}

.alert {
    margin-top: 30px;
}

footer {
    text-align: center;
}

footer span {
    color: #40b3ff;
}

footer span:hover {
    color: #aaffff;
    transition: 1s;
}

footer i {
    color: whitesmoke;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin: 1rem;
}

footer i:hover {
    color: #aaffff;
}

footer img {
    margin-top: -3rem;
    width: 40%;
}

.ft2 i {
    margin-top: -3rem;
    font-size: 3rem;
}

.js {
    color: #F0DB4F;
}

.ts {
    color: #007acc;
}

.njs {
    color: #3C873A;
}

.sql {
    color: #00758f;
}

.rc {
    color: #61DBFB;
}

.bt {
    color: #673AB7;
}

.aws {
    color: #FF9900;
}
